/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #eaeaea;
    padding: 20px;
    text-align: left;
}



header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    color: #666;
}

nav {
    text-align: right;
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    margin: 0 10px;
    color: #898d9a;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-picture {
    flex: 1;
    text-align: center;
}

.profile-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.details {
    flex: 2;
    padding: 20px;
}

.details h2 {
    color: #e67e22;
    margin-bottom: 10px;
    border-bottom: 2px solid #e67e22;
    display: inline-block;
}

.details p {
    margin: 10px 0;
}

.details .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #e67e22;
}

footer {
    text-align: right;
    padding: 10px;
    background-color: #eaeaea;
}

footer p {
    margin: 5px 0;
}

footer .social-icons a {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

/* Estilos para o corpo da página */


/* Estilos para a seção do formulário */
.formulario_contato {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f9;
}


.formulario_contato span {
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
    display: block;
}

/* Estilos para os rótulos e campos de entrada do formulário */
.formulario_contato label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.formulario_contato input,
.formulario_contato textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.formulario_contato textarea {
    resize: vertical;
}

/* Estilos para o botão de envio */
.formulario_contato button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario_contato button:hover {
    background-color: #218838;
}
